# Python Basics

10/03/2020

---

In [1]:
# Type of Variables

var_1 = 2
print(type(var_1))
var_2 = 2.2
print(type(var_2))
var_3 = 2 > 1
print(type(var_3))
var_4 = "Hello"
print(type(var_4))
print("My assigned variables are {} and {} plus {} and {}.".format(var_1, var_2, var_3, var_4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
My assigned variables are 2 and 2.2 plus True and Hello.

---

In [2]:
# List

list_1 = ["AAPL", [3, 6, 7]]
type(list_1)

list

In [3]:
# Dictionary

dict_1 =  {'key1':'value1',
           'key2':'value2', 
           'key3':'value3'}
type(dict_1)

dict

In [4]:
# Tuple

tuple_1 = ('GOOG', 'APPL', 10, 15, 1992)
type(tuple_1)

tuple

In [5]:
# Sets

set_1 = {'GOOG', 'APPL', 'TSLA'}
type(set_1)

set

---

In [6]:
# While Loop

counter = 0
while counter < 2:
    print (counter)
    counter = counter + 1
print("Hello World")

0
1
Hello World

---

In [7]:
# For Loop

for i in range(2):
    print("Hello World")

Hello World
Hello World

---

In [8]:
# Nested Loop

for x in range(1, 4): # slow loop 
    for y in range(1, 2):   # fast loop
        print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3

---

In [9]:
# Chained Statements

import numpy as np
from numpy.random import randn

answer = None
x = randn()
if x > 1:
    answer = "Greater than 1"
elif x >= -1:
    answer = "Between -1 and 1"
else:
    answer = "Less than -1"
print(x)
print(answer)

0.1388479644224268
Between -1 and 1

---

In [10]:
# List of Comprehension

input_list = [1, 2, 3, 4]
output_list = []

for element in input_list:
    output_list.append(element **2)

print(output_list)

[ element ** 2  for element in input_list]

[1, 4, 9, 16]

[1, 4, 9, 16]

---

In [11]:
# Functions

def new_function():
    print('Welcome to Python Basics!')
new_function()

def squared(x):
    return x ** 2
print(squared(5))

squared_2 = lambda x:x**2
squared_2(6)

Welcome to Python Basics!
25

36