# Python Examples

10/04/2020

---

In [1]:
# Law of large numbers

In [59]:
import numpy as np
from numpy.random import randn

N = 100000
counter = 0
for i in randn(N):
    if i > -1 and i < 1:
        counter = counter + 1
counter/N

0.68176

In [4]:
# Profit margin calculation after tax (20%)

In [2]:
import random

revenue = []
expenses = []
profit = []
profit_after_tax = []
profit_margin = []

for i in range(0,11):
    n = random.randint(9000,25000)
    revenue.append(n)
print(revenue)
    
for i in range(0,11):
    m = random.randint(3000,20000)
    expenses.append(m)
print(expenses)

for i in range(0, len(revenue)):
    profit.append(revenue[i] - expenses[i])
print(profit)

tax = [round(i * 0.2, 2) for i in profit]
print(tax)

for i in range(0, len(profit)):
    profit_after_tax.append(profit[i] - tax[i])
print(profit_after_tax)

for i in range(0, len(profit)):
    profit_margin.append(profit_after_tax[i] / revenue[i])

profit_margin = [round((i*100),2) for i in profit_margin]
print(profit_margin)

[12539, 18512, 15285, 21401, 20858, 11559, 10801, 18315, 13111, 24654, 15474]
[18479, 13283, 11776, 5818, 6164, 17036, 19871, 10796, 4584, 10903, 7257]
[-5940, 5229, 3509, 15583, 14694, -5477, -9070, 7519, 8527, 13751, 8217]
[-1188.0, 1045.8, 701.8, 3116.6, 2938.8, -1095.4, -1814.0, 1503.8, 1705.4, 2750.2, 1643.4]
[-4752.0, 4183.2, 2807.2, 12466.4, 11755.2, -4381.6, -7256.0, 6015.2, 6821.6, 11000.8, 6573.6]
[-37.9, 22.6, 18.37, 58.25, 56.36, -37.91, -67.18, 32.84, 52.03, 44.62, 42.48]

---

In [2]:
# Exploring data with Pandas

In [17]:
import os
import pandas as pd
os.chdir('//Users/mareksturek/Documents/GitHub/programming-basics/data')
rawdata = pd.read_csv('demographic_data.csv')
rawdata

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income